{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js",
    "tailwindCSSClassSorter": false,
    "semi": true,
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 2
  }
  